name: pokemon-api-release

on: 
  release: 
    types: [published]

jobs:
  unit_test_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Install Node Dependencies
        run: yarn install --frozen-lockfile
      - name: Run all Unit Tests
        run: CI=true yarn test
  deploy_release:
    runs-on: ubuntu-latest
    steps:
      - name: Get Tag Name
        id: get_tag_name
        shell: bash
        run: echo "##[set-output name=tag;]$(echo ${GITHUB_REF#refs/tags/} | tr . -)"
      - uses: actions-hub/gcloud@master.
        env:
          PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}
          APPLICATION_CREDENTIALS: ${{ secrets.GCLOUD_SERVICE_KEY }}
        with:
          args: app deploy  --no-promote --quiet --version ${{ steps.get_branch.outputs.branch }}
  

    


  
