name: pokemon-api-branch-preview

on: 
  pull_request: 
    branches: [master]

jobs:
  unit_test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Install Node Dependencies
        run: yarn install --frozen-lockfile
      - name: Run all Unit Tests
        run: CI=true yarn test
  deploy_branch_preview_env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get Branch Name
        id: get_branch_name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/} | tr / -)"
      - uses: actions-hub/gcloud@master
        env:
          PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}
          APPLICATION_CREDENTIALS: ${{ secrets.GCLOUD_SERVICE_KEY }}
        with:
          args: app deploy app.yaml --no-promote --quiet --version pokemon-api-preview${{ steps.get_branch_name.outputs.branch }} 
    
   

    


  
